<!DOCTYPE html>
<html>
    <%- include('partials/header.ejs') %>
    
    <body>
        <%- include('partials/figure.ejs') %>
        <h1>Disney Allies & Enemies</h1>
        <%- include('partials/nav.ejs') %>

        <h2>Enjoy a random Disney character with their allies or enemies.</h2>

        <%- include('partials/footer.ejs') %>
    </body>
</html>