<!DOCTYPE html>
<html>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/figure.ejs') %>
        <h1>Explorer Disney!</h1>
        <p>Explore your favorite Disney characters, movies, video games here!</p>

        <%- include('partials/nav.ejs') %>

        <figure id="disneylogo">
            <img src="/img/disneyPic.jpg">
        </figure>
        <%- include('partials/footer.ejs') %>
    </body>
</html>