body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: black;
    font-size: 18px;
    font-style: oblique;
}

.text-box {
    background-color: #b54efe91;
    color: black;
    padding: 20px;
    margin-bottom: 10px;
    display: inline-block;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border: 1px solid #ccc;
}

#back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}

#back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
